/* 页面的基础样式 */
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0;
	padding:0;
	list-style:none;
}
body{
	font:12px youyuan,Arial;
	color:#ccc;
	background:#F1F3F4;
	padding-top:50px;
}
a{
	text-decoration:none;
	color:#ccc;
}
input:focus{
	outline:none;
}
/* 外部容器样式 */
#container{
	width:1000px;
	margin:0 auto;
}